html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}
body {
	line-height: 1
}
ol,
ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}
q,
blockquote {
	quotes: none
}
q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none
}
a img {
	border: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block
}
input[data-ime-mode-disabled],
input[type=file] {
	ime-mode: disabled !important
}
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
a:focus {
	outline: thin dotted
}
a:active,
a:hover {
	outline: 0
}
code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}
small {
	font-size: 80%
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
img {
	border: 0
}
form {
	margin: 0
}
legend {
	border: 0;
	padding: 0;
	white-space: normal
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline
}
button,
input {
	line-height: normal
}
button,
select {
	text-transform: none
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled],
html input[disabled] {
	cursor: default
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto;
	vertical-align: top
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}
@font-face{font-family:"LinkedIn-Glyphs";src:url('/sc/h/dlj1ueiiizs9j9qkzst7dse1h');src:url('/sc/h/dlj1ueiiizs9j9qkzst7dse1h?#iefix') format('embedded-opentype'),
url('/sc/h/cianneozlhsdk7jjaic0h76as') format('woff'),
url('/sc/h/x95jf7hvj1wfz96tvorahsr5') format('truetype');
font-weight:normal;
font-style:normal
}
@font-face{font-family:"LinkedIn-Glyphs-2.0.3";src:url('/sc/h/dlj1ueiiizs9j9qkzst7dse1h');src:url('/sc/h/dlj1ueiiizs9j9qkzst7dse1h?#iefix') format('embedded-opentype'),
url('/sc/h/cianneozlhsdk7jjaic0h76as') format('woff'),
url('/sc/h/x95jf7hvj1wfz96tvorahsr5') format('truetype');
font-weight:normal;
font-style:normal
}
@-webkit-keyframes archetype-loader {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}
@-moz-keyframes archetype-loader {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg)
	}
}
@-ms-keyframes archetype-loader {
	from {
		-ms-transform: rotate(0deg)
	}
	to {
		-ms-transform: rotate(360deg)
	}
}
@-o-keyframes archetype-loader {
	from {
		-o-transform: rotate(0deg)
	}
	to {
		-o-transform: rotate(360deg)
	}
}
@keyframes archetype-loader {
	from {
		transform:rotate(0deg)
	}
	to {
		transform: rotate(360deg)
	}
}
@-webkit-keyframes archetype-loader-position-medium-1 {
	from,
	to {
		background-position: 0 -288px;
		width: 58px;
		height: 58px;
		margin-left: -29px;
		margin-top: -29px
	}
}
@-moz-keyframes archetype-loader-position-medium-1 {
	from,
	to {
		background-position: 0 -288px;
		width: 58px;
		height: 58px;
		margin-left: -29px;
		margin-top: -29px
	}
}
@-ms-keyframes archetype-loader-position-medium-1 {
	from,
	to {
		background-position: 0 -288px;
		width: 58px;
		height: 58px;
		margin-left: -29px;
		margin-top: -29px
	}
}
@-o-keyframes archetype-loader-position-medium-1 {
	from,
	to {
		background-position: 0 -288px;
		width: 58px;
		height: 58px;
		margin-left: -29px;
		margin-top: -29px
	}
}
@keyframes archetype-loader-position-medium-1 {
	from,
	to {
		background-position:0 -288px;
		width:58px;
		height:58px;
		margin-left:-29px;
		margin-top:-29px
	}
}
@-webkit-keyframes archetype-loader-position-medium-2 {
	from,
	to {
		background-position: 0 -230px;
		width: 58px;
		height: 58px;
		margin-left: -29px;
		margin-top: -29px
	}
}
@-moz-keyframes archetype-loader-position-medium-2 {
	from,
	to {
		background-position: 0 -230px;
		width: 58px;
		height: 58px;
		margin-left: -29px;
		margin-top: -29px
	}
}
@-ms-keyframes archetype-loader-position-medium-2 {
	from,
	to {
		background-position: 0 -230px;
		width: 58px;
		height: 58px;
		margin-left: -29px;
		margin-top: -29px
	}
}
@-o-keyframes archetype-loader-position-medium-2 {
	from,
	to {
		background-position: 0 -230px;
		width: 58px;
		height: 58px;
		margin-left: -29px;
		margin-top: -29px
	}
}
@keyframes archetype-loader-position-medium-2 {
	from,
	to {
		background-position:0 -230px;
		width:58px;
		height:58px;
		margin-left:-29px;
		margin-top:-29px
	}
}
@-webkit-keyframes archetype-loader-position-small-1 {
	from,
	to {
		background-position: 0 -362px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px
	}
}
@-moz-keyframes archetype-loader-position-small-1 {
	from,
	to {
		background-position: 0 -362px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px
	}
}
@-ms-keyframes archetype-loader-position-small-1 {
	from,
	to {
		background-position: 0 -362px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px
	}
}
@-o-keyframes archetype-loader-position-small-1 {
	from,
	to {
		background-position: 0 -362px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px
	}
}
@keyframes archetype-loader-position-small-1 {
	from,
	to {
		background-position:0 -362px;
		width:16px;
		height:16px;
		margin-left:-8px;
		margin-top:-8px
	}
}
@-webkit-keyframes archetype-loader-position-small-2 {
	from,
	to {
		background-position: 0 -346px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px
	}
}
@-moz-keyframes archetype-loader-position-small-2 {
	from,
	to {
		background-position: 0 -346px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px
	}
}
@-ms-keyframes archetype-loader-position-small-2 {
	from,
	to {
		background-position: 0 -346px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px
	}
}
@-o-keyframes archetype-loader-position-small-2 {
	from,
	to {
		background-position: 0 -346px;
		width: 16px;
		height: 16px;
		margin-left: -8px;
		margin-top: -8px
	}
}
@keyframes archetype-loader-position-small-2 {
	from,
	to {
		background-position:0 -346px;
		width:16px;
		height:16px;
		margin-left:-8px;
		margin-top:-8px
	}
}
@-webkit-keyframes archetype-loader-position-large-1 {
	from,
	to {
		background-position: 0 -115px;
		width: 115px;
		height: 115px;
		margin-left: -57.5px;
		margin-top: -57.5px
	}
}
@-moz-keyframes archetype-loader-position-large-1 {
	from,
	to {
		background-position: 0 -115px;
		width: 115px;
		height: 115px;
		margin-left: -57.5px;
		margin-top: -57.5px
	}
}
@-ms-keyframes archetype-loader-position-large-1 {
	from,
	to {
		background-position: 0 -115px;
		width: 115px;
		height: 115px;
		margin-left: -57.5px;
		margin-top: -57.5px
	}
}
@-o-keyframes archetype-loader-position-large-1 {
	from,
	to {
		background-position: 0 -115px;
		width: 115px;
		height: 115px;
		margin-left: -57.5px;
		margin-top: -57.5px
	}
}
@keyframes archetype-loader-position-large-1 {
	from,
	to {
		background-position:0 -115px;
		width:115px;
		height:115px;
		margin-left:-57.5px;
		margin-top:-57.5px
	}
}
@-webkit-keyframes archetype-loader-position-large-2 {
	from,
	to {
		background-position: 0 0;
		width: 115px;
		height: 115px;
		margin-left: -57.5px;
		margin-top: -57.5px
	}
}
@-moz-keyframes archetype-loader-position-large-2 {
	from,
	to {
		background-position: 0 0;
		width: 115px;
		height: 115px;
		margin-left: -57.5px;
		margin-top: -57.5px
	}
}
@-ms-keyframes archetype-loader-position-large-2 {
	from,
	to {
		background-position: 0 0;
		width: 115px;
		height: 115px;
		margin-left: -57.5px;
		margin-top: -57.5px
	}
}
@-o-keyframes archetype-loader-position-large-2 {
	from,
	to {
		background-position: 0 0;
		width: 115px;
		height: 115px;
		margin-left: -57.5px;
		margin-top: -57.5px
	}
}
@keyframes archetype-loader-position-large-2 {
	from,
	to {
		background-position:0 0;
		width:115px;
		height:115px;
		margin-left:-57.5px;
		margin-top:-57.5px
	}
}
body {
	background:#e9e9e9 url('/sc/h/ews8a0ws38v3rc0r1x892x0sj')
}
body,
button,
input,
textarea {
	font-family:sans-serif
}
.os-win body,
.os-win button,
.os-win input,
.os-win textarea {
	font-family:Arial,
	sans-serif
}
.os-mac body,
.os-mac button,
.os-mac input,
.os-mac textarea {
	font-family:Helvetica,
	Arial,
	sans-serif
}
.os-linux body,
.os-linux button,
.os-linux input,
.os-linux textarea {
	font-family:Helvetica,
	FreeSans,
	"Liberation Sans",
	Helmet,
	Arial,
	sans-serif
}
#wrapper {
	margin-left:auto;
	margin-right:auto;
	width:974px;
	background:#e9e9e9 url('/sc/h/ews8a0ws38v3rc0r1x892x0sj')
}
a {
	color:#006fa6;
	text-decoration:none
}
a.hover,
a:hover,
a.focus,
a:focus {
	text-decoration:underline
}
a.visited,
a:visited {
	color:#96999c
}
span.error {
	font-weight:bold;
	color:#900
}
div.alert {
	margin-bottom:15px
}
div.alert,
div.alert.error {
	background-color:#c9342f;
	background-repeat:no-repeat;
	background:-webkit-linear-gradient(top,
	#dd5959 0%,
	#c15252 100%);
	background:-moz-linear-gradient(top,
	#dd5959 0%,
	#c15252 100%);
	background:-o-linear-gradient(top,
	#dd5959 0%,
	#c15252 100%);
	background:linear-gradient(top,
	#dd5959 0%,
	#c15252 100%);
	-webkit-box-shadow:0 0 0 1px #c15252,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	-moz-box-shadow:0 0 0 1px #c15252,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	box-shadow:0 0 0 1px #c15252,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	overflow:hidden;
	display:block;
	color:#fff;
	font-size:15px;
	line-height:20px;
	position:relative;
	padding:10px 20px 10px 50px
}
div.alert:before,
div.alert.error:before {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:26px;
	color:inherit;
	content:"\e001"
}
div.alert:before,
div.alert.error:before {
	position:absolute;
	top:7px;
	left:12px;
	line-height:1
}
div.alert strong {
	font-weight:normal
}
div.alert strong.strong,
div.alert b {
	font-weight:bold
}
div.alert p {
	margin:0;
	font-size:100%
}
div.alert p+p {
	margin-top:5px
}
div.alert img {
	display:none
}
div.alert a {
	color:#fff;
	text-decoration:none;
	font-weight:bold
}
div.alert a.hover,
div.alert a:hover,
div.alert a.focus,
div.alert a:focus {
	text-decoration:underline
}
div.alert:hover a {
	text-decoration:underline
}
div.alert ul {
	margin:0 21px 5px 7px
}
div.alert .dismiss,
div.alert #notice-close {
	color:#fff;
	background:transparent none;
	padding:0 1px 0 0;
	border:0;
	margin:0;
	cursor:pointer;
	text-decoration:none;
	position:absolute;
	overflow:hidden;
	top:10px;
	right:10px;
	width:13px;
	height:13px;
	text-indent:14px;
	padding:0
}
div.alert .dismiss:before,
div.alert #notice-close:before {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:13px;
	color:inherit;
	content:"\e00f"
}
div.alert .dismiss:before,
div.alert #notice-close:before {
	vertical-align:top;
	line-height:1;
	position:absolute;
	top:0;
	right:0;
	text-decoration:none;
	cursor:pointer
}
div.alert .dismiss.hover,
div.alert .dismiss:hover,
div.alert .dismiss.focus,
div.alert .dismiss:focus,
div.alert #notice-close.hover,
div.alert #notice-close:hover,
div.alert #notice-close.focus,
div.alert #notice-close:focus {
	text-shadow:1px 1px 1px rgba(0,
	0,
	0,
	0.35)
}
div.alert.attention,
div.alert.warning {
	background-color:#d1711b;
	background-repeat:no-repeat;
	background:-webkit-linear-gradient(top,
	#e8a02d 0%,
	#c08d2d 100%);
	background:-moz-linear-gradient(top,
	#e8a02d 0%,
	#c08d2d 100%);
	background:-o-linear-gradient(top,
	#e8a02d 0%,
	#c08d2d 100%);
	background:linear-gradient(top,
	#e8a02d 0%,
	#c08d2d 100%);
	-webkit-box-shadow:0 0 0 1px #cb8e2d,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	-moz-box-shadow:0 0 0 1px #cb8e2d,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	box-shadow:0 0 0 1px #cb8e2d,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	overflow:hidden;
	display:block;
	color:#fff;
	font-size:15px;
	line-height:20px;
	position:relative;
	padding:10px 20px 10px 50px
}
div.alert.attention:before,
div.alert.warning:before {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:26px;
	color:inherit;
	content:"\e003"
}
div.alert.attention:before,
div.alert.warning:before {
	position:absolute;
	top:7px;
	left:12px;
	line-height:1
}
div.alert.success {
	background-color:#5b912d;
	background-repeat:no-repeat;
	background:-webkit-linear-gradient(top,
	#63ae55 0%,
	#5a994e 100%);
	background:-moz-linear-gradient(top,
	#63ae55 0%,
	#5a994e 100%);
	background:-o-linear-gradient(top,
	#63ae55 0%,
	#5a994e 100%);
	background:linear-gradient(top,
	#63ae55 0%,
	#5a994e 100%);
	-webkit-box-shadow:0 0 0 1px #5b9b4e,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	-moz-box-shadow:0 0 0 1px #5b9b4e,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	box-shadow:0 0 0 1px #5b9b4e,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	overflow:hidden;
	display:block;
	color:#fff;
	font-size:15px;
	line-height:20px;
	position:relative;
	padding:10px 20px 10px 50px
}
div.alert.success:before {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:26px;
	color:inherit;
	content:"\e000"
}
div.alert.success:before {
	position:absolute;
	top:7px;
	left:12px;
	line-height:1
}
div.alert.notice {
	background-color:#737577;
	background-repeat:no-repeat;
	background:-webkit-linear-gradient(top,
	#929292 0%,
	#828282 100%);
	background:-moz-linear-gradient(top,
	#929292 0%,
	#828282 100%);
	background:-o-linear-gradient(top,
	#929292 0%,
	#828282 100%);
	background:linear-gradient(top,
	#929292 0%,
	#828282 100%);
	-webkit-box-shadow:0 0 0 1px #7e7e7e,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	-moz-box-shadow:0 0 0 1px #7e7e7e,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	box-shadow:0 0 0 1px #7e7e7e,
	0 1px 2px rgba(0,
	0,
	0,
	0.45);
	overflow:hidden;
	display:block;
	color:#fff;
	font-size:15px;
	line-height:20px;
	position:relative;
	padding:10px 20px 10px 50px
}
div.alert.notice:before {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:26px;
	color:inherit;
	content:"\e002"
}
div.alert.notice:before {
	position:absolute;
	top:7px;
	left:12px;
	line-height:1
}
body,
#wrapper {
	background:#dfdfdf
}
.hide {
	display:none
}
#wrapper {
	margin-top:38px;
	word-wrap:break-word;
	word-break:break-word
}
#wrapper:after {
	content:"\0020";
	display:block;
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden
}
#profile {
	margin: 5px auto;
	width:646px
}
#aux {
	margin-left:10px;
	float:left;
	width:318px
}
.lazy-load,
.lazy-loaded {
	-webkit-transition:opacity 0.3s;
	-moz-transition:opacity 0.3s;
	-o-transition:opacity 0.3s;
	transition:opacity 0.3s;
	opacity:0
}
.lazy-loaded {
	opacity:1
}
.profile-section {
	background:#fff;
	-webkit-box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	-moz-box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	margin-bottom:10px
}
.ie.lte8 .profile-section {
	border-bottom:2px solid #ccc
}
.profile-section .title {
	font-size:16px;
	font-weight:normal;
	line-height:18px;
	color:#434649;
	padding:30px 35px 0
}
.profile-section .item-title,
.profile-section .item-subtitle {
	margin-bottom:5px
}
.profile-section .item-title {
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	color:#000
}
.profile-section .item-title a {
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	color:#000;
	text-decoration:none;
	position:relative;
	display:inline-block
}
.profile-section .item-title a.hover,
.profile-section .item-title a:hover,
.profile-section .item-title a.focus,
.profile-section .item-title a:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie .profile-section .item-title a.hover,
.ie .profile-section .item-title a:hover,
.ie .profile-section .item-title a.focus,
.ie .profile-section .item-title a:focus {
	cursor:hand
}
.profile-section .item-title a:visited {
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	color:#000;
	text-decoration:none
}
.profile-section .item-title a:visited.hover,
.profile-section .item-title a:visited:hover,
.profile-section .item-title a:visited.focus,
.profile-section .item-title a:visited:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie .profile-section .item-title a:visited.hover,
.ie .profile-section .item-title a:visited:hover,
.ie .profile-section .item-title a:visited.focus,
.ie .profile-section .item-title a:visited:focus {
	cursor:hand
}
.profile-section .item-subtitle {
	font-size:14px;
	font-weight:normal;
	line-height:16px;
	color:#434649
}
.profile-section .item-subtitle a {
	font-size:14px;
	font-weight:normal;
	line-height:16px;
	color:#434649;
	text-decoration:none
}
.profile-section .item-subtitle a.hover,
.profile-section .item-subtitle a:hover,
.profile-section .item-subtitle a.focus,
.profile-section .item-subtitle a:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie .profile-section .item-subtitle a.hover,
.ie .profile-section .item-subtitle a:hover,
.ie .profile-section .item-subtitle a.focus,
.ie .profile-section .item-subtitle a:focus {
	cursor:hand
}
.profile-section .item-subtitle a:visited {
	font-size:14px;
	font-weight:normal;
	line-height:16px;
	color:#434649;
	text-decoration:none
}
.profile-section .item-subtitle a:visited.hover,
.profile-section .item-subtitle a:visited:hover,
.profile-section .item-subtitle a:visited.focus,
.profile-section .item-subtitle a:visited:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie .profile-section .item-subtitle a:visited.hover,
.ie .profile-section .item-subtitle a:visited:hover,
.ie .profile-section .item-subtitle a:visited.focus,
.ie .profile-section .item-subtitle a:visited:focus {
	cursor:hand
}
.profile-section>ul>li {
	overflow:hidden;
	padding:30px 35px;
	border-bottom:1px solid #ddd
}
.profile-section>ul>li:last-child {
	border:0
}
.profile-section .pills {
	padding:30px 35px
}
.profile-section .pills li {
	-webkit-box-shadow:0 1px 1px #ccc;
	-moz-box-shadow:0 1px 1px #ccc;
	box-shadow:0 1px 1px #ccc;
	-webkit-transition:all 0.07s;
	-moz-transition:all 0.07s;
	-o-transition:all 0.07s;
	transition:all 0.07s;
	display:inline-block;
	border:0;
	margin:0 5px 5px 0;
	padding:0;
	font-size:13px;
	line-height:17px;
	color:#333333;
	font-weight:normal;
	background:#f1f1f1;
	border-radius:2px;
	text-decoration:none
}
.profile-section .pills li a {
	color:#333;
	display:inline-block;
	border-radius:2px
}
.profile-section .pills li:hover a {
	color:#fff;
	background-color:#0077b5;
	text-decoration:none
}
.profile-section .pills li .wrap {
	display:inline-block;
	padding:5px 10px 4px
}
.profile-section .pills li.extra {
	display:none
}
.profile-section .pills .see-more:hover .wrap,
.profile-section .pills .see-less:hover .wrap {
	color:#fff
}
.profile-section .see-more .wrap,
.profile-section .see-less .wrap {
	color:#006fa6;
	cursor:pointer
}
.profile-section .expander-state-checkbox {
	display:none
}
.profile-section .expander-state-checkbox:checked ~ .see-more {
	display:none
}
.profile-section .expander-state-checkbox:checked ~ .extra {
	display:inline-block
}
.profile-section header .meta {
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal
}
.profile-section .meta {
	font-size:12px;
	line-height:14px;
	color:#66696a
}
.profile-section .meta span ~ span {
	margin-left:5px;
	border-left:1px solid #bbb;
	padding-left:5px
}
.profile-section .description {
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal;
	margin-top:15px
}
.profile-section .logo {
	float:right;
	width:100px;
	text-align:center
}
.profile-section .external-link:after {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:14px;
	color:inherit;
	content:"\e029"
}
.profile-section .external-link:after {
	padding-left:5px;
	vertical-align:middle;
	position:absolute
}
.profile-section .contributors {
	padding-top:5px
}
.profile-section .contributors dt {
	font-size:13px;
	line-height:17px;
	color:#66696a;
	display:inline-block;
	padding-right:5px
}
.profile-section .contributors dd {
	display:inline-block
}
.profile-section .contributors .contributor {
	display:inline-block;
	font-size:13px;
	line-height:17px;
	color:#66696a;
	padding-right:5px
}
.profile-section .contributors .contributor a {
	font-size:13px;
	line-height:17px;
	color:#66696a;
	text-decoration:none
}
.profile-section .contributors .contributor a.hover,
.profile-section .contributors .contributor a:hover,
.profile-section .contributors .contributor a.focus,
.profile-section .contributors .contributor a:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie .profile-section .contributors .contributor a.hover,
.ie .profile-section .contributors .contributor a:hover,
.ie .profile-section .contributors .contributor a.focus,
.ie .profile-section .contributors .contributor a:focus {
	cursor:hand
}
#topcard {
	padding:0
	float:right;
}
#topcard .profile-card {
	overflow:hidden;
	position:relative
}
#topcard .profile-picture {
	float:left;
	width:200px;
	height:200px;
	text-align:center;
	margin:20px 0
}
#topcard .profile-picture a {
	display:block
}
#topcard .profile-picture img {
	vertical-align:middle;
	-webkit-box-shadow:0 0 5px 0 rgba(0,
	0,
	0,
	0.1),
	0 0 0 1px #f4f4f4;
	-moz-box-shadow:0 0 5px 0 rgba(0,
	0,
	0,
	0.1),
	0 0 0 1px #f4f4f4;
	box-shadow:0 0 5px 0 rgba(0,
	0,
	0,
	0.1),
	0 0 0 1px #f4f4f4
}
#topcard .profile-overview {
	float:right;
	width:405px;
	padding:0 20px 20px
}
#topcard .profile-overview-content {
	padding:20px 70px 15px 0
}
#topcard .no-picture .profile-overview,
#topcard .hide ~ .profile-overview {
	float:none;
	width:auto;
	padding-left:40px;
	padding-right:40px
}
#topcard #name {
	font-size:26px;
	font-weight:bold;
	line-height:30px;
	color:#000
}
#topcard .headline {
	padding:1px 0;
	font-size:16px;
	line-height:20px;
	color:#333;
	font-weight:normal
}
#topcard #demographics dt {
	display:none
}
#topcard #demographics .descriptor {
	display:inline-block;
	font-size:13px;
	line-height:17px;
	color:#66696a
}
#topcard #demographics .descriptor ~ .descriptor {
	border-left:1px solid #bbb;
	padding-left:8px;
	margin-left:5px
}
#topcard .extra-info {
	margin-top:10px
}
#topcard .extra-info th,
#topcard .extra-info td {
	margin-bottom:3px;
	padding-top:6px;
	vertical-align:text-top
}
#topcard .extra-info th {
	font-size:11px;
	color:#999;
	padding-right:20px;
	white-space:nowrap
}
#topcard .extra-info td {
	font-size:12px;
	line-height:14px;
	color:#333;
	font-weight:normal
}
#topcard .extra-info td strong {
	font-weight:bold
}
#topcard .extra-info li {
	display:inline;
	font-size:12px;
	line-height:14px;
	color:#333;
	font-weight:normal
}
#topcard .extra-info li a {
	font-size:12px;
	line-height:14px;
	color:#333;
	font-weight:normal;
	text-decoration:none
}
#topcard .extra-info li a.hover,
#topcard .extra-info li a:hover,
#topcard .extra-info li a.focus,
#topcard .extra-info li a:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie #topcard .extra-info li a.hover,
.ie #topcard .extra-info li a:hover,
.ie #topcard .extra-info li a.focus,
.ie #topcard .extra-info li a:focus {
	cursor:hand
}
#topcard .websites li {
	display:block
}
#topcard .member-connections,
#topcard .influencer-badge {
	position:absolute;
	top:20px;
	right:20px;
	float:right;
}
#topcard .member-connections {
	font-size:11px;
	color:#999;
	padding:7px 0 0 10px;
	line-height:15px;
	vertical-align:bottom;
	text-align:right
}
#topcard .member-connections strong {
	font-weight:bold;
	display:block;
	color:#333;
	font-size:18px;
	line-height:14px
}
#topcard .influencer-badge {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	vertical-align:baseline;
	font-size:14px;
	line-height:14px;
	color:#333;
	background-image:url('/sc/h/8vcxa9840vpd17tibshqi9ksm');
	text-indent:-119988px;
	overflow:hidden;
	text-align:left;
	background-position:0 0;
	width:90px;
	height:22px
}
#topcard .influencer-badge sup {
	top:0;
	vertical-align:baseline;
	font-weight:normal;
	font-size:78%
}
.reg-upsell {
	border-top:1px solid #ddd;
	padding:25px 40px 20px
}
.reg-upsell h2 {
	font-size:26px;
	font-weight:normal;
	line-height:30px;
	color:#434649;
	padding-bottom:12px
}
.reg-upsell h3 {
	font-size:16px;
	font-weight:normal;
	line-height:18px;
	color:#434649;
	padding:0 0 12px
}
.reg-upsell .signup-button {
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
	margin:0;
	overflow:visible;
	text-decoration:none !important;
	text-align:center;
	width:auto;
	text-shadow:0 1px 1px rgba(255,
	255,
	255,
	0.75);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding:0 13px;
	height:31px;
	line-height:29px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:13px;
	color:#333;
	background-color:#f6e312;
	border-color:#e9ac1a;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFF6E312',
	endColorstr='#FFF9C80D');
	background-image:-webkit-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:-moz-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:-o-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	white-space:nowrap;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	vertical-align:middle;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	padding-bottom:12px
}
.reg-upsell .signup-button.hover,
.reg-upsell .signup-button:hover,
.reg-upsell .signup-button.focus,
.reg-upsell .signup-button:focus {
	background-color:#eddb11;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFEDDB11',
	endColorstr='#FFF2B21B');
	background-image:-webkit-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-moz-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-o-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	-webkit-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	-moz-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25)
}
.reg-upsell .signup-button.active,
.reg-upsell .signup-button:active {
	-webkit-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	-moz-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset
}
.reg-upsell .signup-button.disabled,
.reg-upsell .signup-button[disabled] {
	background-color:#eddb11;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFEDDB11',
	endColorstr='#FFF2B21B');
	background-image:-webkit-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-moz-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-o-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	cursor:default;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6
}
.reg-upsell ul {
	padding-bottom:12px
}
.reg-upsell ul li {
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal;
	font-size:12px;
	border:0;
	padding:0
}
.reg-upsell ul li:before {
	content:"\2022";
	padding-right:6px
}
.reg-upsell strong {
	font-weight:bold
}
.reg-upsell .view-more {
	margin-top:12px;
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal
}
.reg-upsell .view-more a {
	font-size:13px;
	line-height:17px;
	color:#006fa6;
	font-weight:normal;
	text-decoration:none
}
.reg-upsell .view-more a.hover,
.reg-upsell .view-more a:hover,
.reg-upsell .view-more a.focus,
.reg-upsell .view-more a:focus {
	text-decoration:underline
}
.reg-upsell .view-more a.visited,
.reg-upsell .view-more a:visited {
	color:#96999c
}
#posts h3 {
	padding-bottom:0
}
#posts .see-more {
	font-size:13px;
	line-height:17px;
	color:#66696a;
	padding:0 10px 0 35px;
	position:relative;
	margin-bottom:16px;
	display:inline-block
}
#posts .see-more:after {
	height:0;
	width:0;
	border-style:dashed;
	border-color:transparent;
	border-width:4px 0 4px 4px;
	border-left-color:#666;
	border-left-style:solid;
	top:5px;
	right:0;
	content:"";
	position:absolute
}
#posts ul {
	padding:0 35px 35px
}
#posts .expanding-wrapper {
	float:left
}
#posts .post {
	display:inline-block;
	vertical-align:top;
	width:180px;
	min-height:135px;
	position:relative;
	border:0;
	padding:0 10px 0 0
}
#posts .post img {
	width:100%;
	height:135px
}
#posts .post .item-title {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	margin-top:5px
}
#posts .post .item-title a {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	text-decoration:none
}
#posts .post .item-title a.hover,
#posts .post .item-title a:hover,
#posts .post .item-title a.focus,
#posts .post .item-title a:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie #posts .post .item-title a.hover,
.ie #posts .post .item-title a:hover,
.ie #posts .post .item-title a.focus,
.ie #posts .post .item-title a:focus {
	cursor:hand
}
#posts .post .time {
	font-size:12px;
	line-height:14px;
	color:#66696a;
	margin-top:3px
}
#summary .description {
	padding:15px 35px 30px
}
#languages ul {
	padding:0 35px 15px
}
#languages .language {
	border:0;
	padding:30px 0;
	display:inline-block;
	width:50%;
	box-sizing:border-box;
	vertical-align:top
}
#languages .language .name {
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	color:#000
}
#languages .language .proficiency {
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal;
	margin-top:5px
}
#volunteering .extra-section {
	border-top:1px solid #ddd;
	padding:30px 35px
}
#volunteering .extra-section li {
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal
}
#volunteering .extra-section:nth-child(2) {
	border-top:0
}
#volunteering .organizations-title {
	margin-top:35px
}
#volunteering .opportunities .title {
	padding-top:0;
	padding-left:0
}
#volunteering .opportunities ul {
	padding-top:10px
}
#volunteering .opportunities ul li:before {
	content:"\2022";
	padding-right:6px
}
#volunteering .extra-section .title {
	padding-top:0;
	padding-left:0;
	margin-bottom:5px;
	font-size:16px;
	font-weight:bold;
	line-height:18px;
	color:#000
}
#groups>ul {
	padding:30px 30px 0 20px
}
#groups .group {
	padding:0 0 30px 15px;
	border:0;
	width:134px;
	display:inline-block
}
#groups .group h4 {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	font-size:12px
}
#groups .group h4 a {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	text-decoration:none;
	display:block;
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis
}
#groups .group h4 a.hover,
#groups .group h4 a:hover,
#groups .group h4 a.focus,
#groups .group h4 a:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie #groups .group h4 a.hover,
.ie #groups .group h4 a:hover,
.ie #groups .group h4 a.focus,
.ie #groups .group h4 a:focus {
	cursor:hand
}
#groups .group h4 a:visited {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	text-decoration:none;
	font-size:12px
}
#groups .group h4 a:visited.hover,
#groups .group h4 a:visited:hover,
#groups .group h4 a:visited.focus,
#groups .group h4 a:visited:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie #groups .group h4 a:visited.hover,
.ie #groups .group h4 a:visited:hover,
.ie #groups .group h4 a:visited.focus,
.ie #groups .group h4 a:visited:focus {
	cursor:hand
}
#groups .group .logo {
	float:none
}
#groups .extra {
	display:none
}
#groups .see-more .wrap-icon,
#groups .see-less .wrap-icon {
	display:block;
	height:28px;
	width:18px;
	padding:16px 21px;
	background:#f4f4f4;
	text-align:center;
	margin-top:0px;
	margin-bottom:10px
}
#groups .see-more .wrap-icon i,
#groups .see-less .wrap-icon i {
	display:block;
	height:28px;
	width:18px
}
#groups .see-more .wrap,
#groups .see-less .wrap {
	font-size:12px;
	line-height:14px;
	color:#0073B2;
	font-weight:normal;
	text-decoration:none;
	display:block
}
#groups .see-more .wrap .caption:after,
#groups .see-less .wrap .caption:before {
	display:inline-block;
	vertical-align:middle;
	height:10px;
	width:6px;
	content:'';
	margin-left:5px;
	margin-right:5px
}
#groups .see-more .wrap .caption:after {
	background:url(/scds/common/u/images/apps/profile/sprite/sprite_profile_tools_v8.png) 0 -500px no-repeat
}
#groups .see-more .wrap-icon i {
	background:url(/scds/common/u/images/apps/profile/sprite/sprite_profile_tools_v8.png) 0 -800px no-repeat
}
#groups .see-more:hover .wrap .wrap-icon i {
	background-position:0 -850px
}
#groups .see-less .wrap .caption:before {
	background:url(/scds/common/u/images/apps/profile/sprite/sprite_profile_tools_v8.png) 0 -600px no-repeat
}
#groups .see-less .wrap-icon i {
	background:url(/scds/common/u/images/apps/profile/sprite/sprite_profile_tools_v8.png) 0 -700px no-repeat
}
#groups .see-less:hover .wrap .wrap-icon i {
	background-position:0 -750px
}
#groups .expander-state-checkbox:checked ~ .see-more {
	display:none
}
#groups .expander-state-checkbox:checked ~ .extra {
	display:inline-block
}
.insights {
	padding:0 20px 20px
}
.insights .title {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	padding:20px 0
}
.insights .profile-card {
	min-height:60px;
	margin-bottom:5px;
	border:0;
	padding:0
}
.insights .profile-card .info {
	display:inline-block;
	vertical-align:top;
	width:200px
}
.insights .profile-card>a {
	display:inline-block;
	vertical-align:top
}
.insights .profile-card img {
	width:60px;
	height:60px;
	padding-right:10px
}
.insights .profile-card h4 {
	font-size:13px;
	font-weight:bold;
	line-height:17px;
	color:#000;
	margin-bottom:0
}
.insights .profile-card h4 a {
	font-size:13px;
	font-weight:bold;
	line-height:17px;
	color:#006fa6;
	text-decoration:none
}
.insights .profile-card h4 a.hover,
.insights .profile-card h4 a:hover,
.insights .profile-card h4 a.focus,
.insights .profile-card h4 a:focus {
	text-decoration:underline
}
.insights .profile-card h4 a.visited,
.insights .profile-card h4 a:visited {
	color:#96999c
}
.insights .profile-card .headline,
.insights .profile-card .location {
	font-size:12px;
	line-height:14px;
	color:#333;
	font-weight:normal
}
.name-search .blurb {
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal;
	padding-bottom:10px
}
.name-search form label {
	display:none
}
.name-search form input[type="text"] {
	background:#fdfdfd;
	vertical-align:middle;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	-o-border-radius:2px;
	border-radius:2px;
	padding:5px 6px 4px;
	-webkit-box-shadow:0 0 3px rgba(0,
	0,
	0,
	0.1) inset;
	-moz-box-shadow:0 0 3px rgba(0,
	0,
	0,
	0.1) inset;
	box-shadow:0 0 3px rgba(0,
	0,
	0,
	0.1) inset;
	border:1px solid #c1c1c1;
	font-size:13px;
	color:#333;
	width:100px;
	margin:0 10px 0 0
}
.name-search form input[type="text"].focus,
.name-search form input[type="text"]:focus {
	background:#fff;
	outline:0;
	border:1px solid #0077b5
}
.name-search form input[type="text"].disabled,
.name-search form input[type="text"][disabled] {
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:0.5;
	cursor:not-allowed
}
.name-search form button {
	background:none;
	border:none;
	padding:0;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none
}
.name-search form button span:after {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:16px;
	color:#0077b5;
	content:"\e004"
}
.name-search form button span:after {
	position:relative;
	top:2px;
	padding-left:5px
}
.name-search form .tip {
	padding-top:10px;
	font-size:13px;
	font-weight:normal;
	line-height:17px;
	color:#434649
}
.name-search form .tip strong {
	font-weight:bold
}
.name-search ul {
	margin-top:15px
}
.name-search .same-name-search-more {
	font-size:13px;
	line-height:17px;
	color:#006fa6;
	font-weight:normal;
	text-decoration:none
}
.name-search .same-name-search-more.hover,
.name-search .same-name-search-more:hover,
.name-search .same-name-search-more.focus,
.name-search .same-name-search-more:focus {
	text-decoration:underline
}
.name-search .same-name-search-more.visited,
.name-search .same-name-search-more:visited {
	color:#96999c
}
#directory {
	float:left;
	width:974px;
	margin:20px 0;
	padding-top:20px;
	white-space:nowrap;
	text-align:center;
	border-top:1px solid #ccc
}
#directory h3 {
	display:inline;
	font-size:12px;
	line-height:14px;
	color:#333;
	font-weight:normal;
	color:#666
}
#directory ol {
	display:inline;
	font-size:12px;
	line-height:14px;
	color:#333;
	font-weight:normal
}
#directory ol li {
	display:inline-block
}
#directory ol li a {
	display:inline-block;
	padding:0 3px
}
#directory .country-search {
	margin-left:5px;
	padding-left:10px;
	border-left:1px solid #ccc
}
#locale-switcher {
	padding-top:10px;
	position:relative
}
#locale-switcher .dropdown-label {
	font-size:13px;
	line-height:17px;
	color:#66696a;
	text-align:left;
	width:100%;
	position:relative;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
	padding-top:10px;
	padding-left:2px;
	border:1px solid transparent
}
#locale-switcher .dropdown-label:before {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:16px;
	color:inherit;
	content:"\e051"
}
#locale-switcher .dropdown-label:after {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:16px;
	color:inherit;
	content:"\e02a"
}
#locale-switcher .dropdown-label:before {
	padding-right:5px
}
#locale-switcher .dropdown-label:after {
	position:absolute;
	right:0
}
#locale-switcher .expander-checkbox {
	position:absolute !important;
	height:1px;
	width:1px;
	overflow:hidden;
	clip:rect(1px,
	1px,
	1px,
	1px)
}
#locale-switcher .expander-checkbox:checked ~ .locales {
	display:block
}
#locale-switcher .expander-checkbox:focus ~ .dropdown-label {
	border:1px solid #3B99FC
}
#locale-switcher .locales {
	background:#fff;
	-webkit-box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	-moz-box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	display:none;
	width:100%;
	z-index:1;
	position:absolute;
	border:0;
	border-top:1px solid #DFDEDF;
	margin-top:10px;
	padding:5px 0
}
.ie.lte8 #locale-switcher .locales {
	border-bottom:2px solid #ccc
}
#locale-switcher .locales .locale {
	font-size:13px;
	line-height:17px;
	color:#66696a;
	position:relative;
	padding:5px 20px 5px 45px
}
#locale-switcher .locales .locale a {
	font-size:13px;
	line-height:17px;
	color:#66696a;
	text-decoration:none
}
#locale-switcher .locales .locale a.hover,
#locale-switcher .locales .locale a:hover,
#locale-switcher .locales .locale a.focus,
#locale-switcher .locales .locale a:focus {
	text-decoration:none;
	color:#006fa6;
	cursor:pointer
}
.ie #locale-switcher .locales .locale a.hover,
.ie #locale-switcher .locales .locale a:hover,
.ie #locale-switcher .locales .locale a.focus,
.ie #locale-switcher .locales .locale a:focus {
	cursor:hand
}
#locale-switcher .locales .locale.current {
	font-weight:bold
}
#locale-switcher .locales .locale.current:before {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:16px;
	color:#7cbb2f;
	content:"\e00e"
}
#locale-switcher .locales .locale.current:before {
	position:absolute;
	left:20px
}
#ad {
	padding:10px 0 20px;
	text-align:center
}
#recommendations .content {
	padding:0 35px 25px
}
#recommendations .description {
	margin-top:20px
}
#recommendations .recommendation-container {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:top;
	width:50%;
	margin-top:15px
}
#recommendations .recommendation {
	font-style:italic;
	font-size:13px;
	line-height:17px;
	color:#333;
	position:relative;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:30px;
	padding-right:5px;
	overflow:hidden;
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	text-overflow:ellipsis;
	max-height:68px;
	-webkit-transition:max-height 0.6s;
	-moz-transition:max-height 0.6s;
	-o-transition:max-height 0.6s;
	transition:max-height 0.6s;
	display:-webkit-box;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical
}
#recommendations .recommendation {
	font-family:Georgia,
	serif
}
#recommendations .recommendation:before {
	font-family:"LinkedIn-Glyphs-2.0.3",
	"LinkedIn-Glyphs";
	font-weight:normal;
	font-style:normal;
	text-decoration:inherit;
	speak:none;
	font-size:16px;
	color:#caccce;
	content:"\e080"
}
#recommendations .recommendation:before {
	position:absolute;
	top:0px;
	left:1px
}
#recommendations .recommendation p {
	font-size:inherit;
	line-height:inherit;
	color:inherit;
	margin-top:0;
	margin-left:0;
	margin-bottom:10px;
	margin-right:0
}
#recommendations .signup-link {
	font-size:13px;
	line-height:17px;
	color:#006fa6;
	font-weight:normal;
	text-decoration:none;
	display:block;
	margin-top:17px
}
#recommendations .signup-link.hover,
#recommendations .signup-link:hover,
#recommendations .signup-link.focus,
#recommendations .signup-link:focus {
	text-decoration:underline
}
#recommendations .signup-link.visited,
#recommendations .signup-link:visited {
	color:#96999c
}
#recommendations .recommendation-state,
#recommendations .recommendation-state:checked ~ .see-more-action,
#recommendations .see-less-action {
	display:none
}
#recommendations .recommendation-state:checked ~ .see-less-action {
	display:inline
}
#recommendations .see-more-action,
#recommendations .see-less-action {
	font-size:12px;
	line-height:14px;
	color:#006fa6;
	font-weight:normal;
	text-decoration:none;
	padding-left:30px
}
#recommendations .see-more-action.hover,
#recommendations .see-more-action:hover,
#recommendations .see-more-action.focus,
#recommendations .see-more-action:focus,
#recommendations .see-less-action.hover,
#recommendations .see-less-action:hover,
#recommendations .see-less-action.focus,
#recommendations .see-less-action:focus {
	text-decoration:underline
}
#recommendations .see-more-action.visited,
#recommendations .see-more-action:visited,
#recommendations .see-less-action.visited,
#recommendations .see-less-action:visited {
	color:#96999c
}
#recommendations .recommendation-state:checked ~ .recommendation {
	max-height:800px;
	-webkit-line-clamp:inherit
}
.unified-cta {
	visibility:hidden;
	opacity:0;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:10;
	-webkit-transition:opacity 0.5s ease-in;
	-moz-transition:opacity 0.5s ease-in;
	-o-transition:opacity 0.5s ease-in;
	transition:opacity 0.5s ease-in
}
.unified-cta .mask-screen {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:#000;
	opacity:0.8;
	z-index:-1
}
.unified-cta .content {
	padding:45px 10px 35px;
	text-align:center
}
.unified-cta .content h3 {
	font-size:26px;
	font-weight:bold;
	line-height:30px;
	color:#fff;
	margin:20px 0 30px
}
.unified-cta .content .join-now {
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
	margin:0;
	overflow:visible;
	text-decoration:none !important;
	text-align:center;
	width:auto;
	text-shadow:0 1px 1px rgba(255,
	255,
	255,
	0.75);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding:0 15px;
	height:34px;
	line-height:32px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:16px;
	color:#333;
	background-color:#f6e312;
	border-color:#313131;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFF6E312',
	endColorstr='#FFF9C80D');
	background-image:-webkit-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:-moz-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:-o-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	white-space:nowrap;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	vertical-align:middle;
	padding:4px 40px;
	line-height:24px;
	white-space:normal;
	height:auto
}
.unified-cta .content .join-now.hover,
.unified-cta .content .join-now:hover,
.unified-cta .content .join-now.focus,
.unified-cta .content .join-now:focus {
	background-color:#eddb11;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFEDDB11',
	endColorstr='#FFEFCF14');
	background-image:-webkit-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-moz-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-o-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	-webkit-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	-moz-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25)
}
.unified-cta .content .join-now.active,
.unified-cta .content .join-now:active {
	-webkit-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	-moz-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset
}
.unified-cta .content .join-now.disabled,
.unified-cta .content .join-now[disabled] {
	background-color:#eddb11;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFEDDB11',
	endColorstr='#FFF2B21B');
	background-image:-webkit-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-moz-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-o-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	cursor:default;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6
}
.unified-cta.reveal {
	visibility:visible;
	opacity:1
}
.unified-cta.inert {
	visibility:hidden;
	position:static;
	float:left
}
.badge {
	padding:0 20px 20px;
	margin-top:10px;
	background:#fff
}
.badge .title {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	padding:20px 0
}
.badge .description {
	font-size:13px;
	line-height:17px;
	color:#333;
	font-weight:normal;
	margin-top:0;
	padding-bottom:20px
}
.badge .cta {
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
	margin:0;
	overflow:visible;
	text-decoration:none !important;
	text-align:center;
	width:auto;
	text-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.35);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding:0 13px;
	height:31px;
	line-height:29px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:13px;
	color:#fff;
	background-color:#287bbc;
	border-color:#1b5480;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FF287BBC',
	endColorstr='#FF23639A');
	background-image:-webkit-linear-gradient(top,
	#287bbc 0%,
	#23639a 100%);
	background-image:-moz-linear-gradient(top,
	#287bbc 0%,
	#23639a 100%);
	background-image:-o-linear-gradient(top,
	#287bbc 0%,
	#23639a 100%);
	background-image:linear-gradient(top,
	#287bbc 0%,
	#23639a 100%);
	white-space:nowrap;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	vertical-align:middle
}
.badge .cta.hover,
.badge .cta:hover,
.badge .cta.focus,
.badge .cta:focus {
	background-color:#2672ae;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FF2672AE',
	endColorstr='#FF1E4F7E');
	background-image:-webkit-linear-gradient(top,
	#2672ae 0%,
	#1e4f7e 100%);
	background-image:-moz-linear-gradient(top,
	#2672ae 0%,
	#1e4f7e 100%);
	background-image:-o-linear-gradient(top,
	#2672ae 0%,
	#1e4f7e 100%);
	background-image:linear-gradient(top,
	#2672ae 0%,
	#1e4f7e 100%);
	-webkit-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	-moz-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25)
}
.badge .cta.active,
.badge .cta:active {
	-webkit-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	-moz-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset
}
.badge .cta.disabled,
.badge .cta[disabled] {
	background-color:#2672ae;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FF2672AE',
	endColorstr='#FF1E4F7E');
	background-image:-webkit-linear-gradient(top,
	#2672ae 0%,
	#1e4f7e 100%);
	background-image:-moz-linear-gradient(top,
	#2672ae 0%,
	#1e4f7e 100%);
	background-image:-o-linear-gradient(top,
	#2672ae 0%,
	#1e4f7e 100%);
	background-image:linear-gradient(top,
	#2672ae 0%,
	#1e4f7e 100%);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	cursor:default;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6
}
.jserp {
	background:#fff;
	-webkit-box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	-moz-box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	box-shadow:0 1px 1px rgba(0,
	0,
	0,
	0.15),
	-1px 0 0 rgba(0,
	0,
	0,
	0.03),
	1px 0 0 rgba(0,
	0,
	0,
	0.03),
	0 1px 0 rgba(0,
	0,
	0,
	0.12);
	padding:0 20px 20px;
	margin:10px 0
}
.ie.lte8 .jserp {
	border-bottom:2px solid #ccc
}
.jserp .title {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	color:#000;
	padding:20px 0 15px
}
.jserp li {
	margin-bottom:5px
}
.jserp li a {
	font-size:13px;
	line-height:17px;
	color:#006fa6;
	font-weight:normal;
	text-decoration:none
}
.jserp li a.hover,
.jserp li a:hover,
.jserp li a.focus,
.jserp li a:focus {
	text-decoration:underline
}
.jserp li a.visited,
.jserp li a:visited {
	color:#96999c
}
.jserp li:last-child {
	margin-bottom:0
}
.actions {
	margin-top:10px
}
.actions .action {
	display:inline-block;
	margin-left:5px
}
.actions .action a {
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
	margin:0;
	overflow:visible;
	text-decoration:none !important;
	text-align:center;
	width:auto;
	text-shadow:0 1px 1px rgba(255,
	255,
	255,
	0.75);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding:0 13px;
	height:31px;
	line-height:29px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:13px;
	color:#444;
	background-color:#f2f2f2;
	border-color:#a7a7a7;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFF2F2F2',
	endColorstr='#FFD1D1D1');
	background-image:-webkit-linear-gradient(top,
	#f2f2f2 0%,
	#e9e9e9 32%,
	#d8d8d8 74%,
	#d1d1d1 100%);
	background-image:-moz-linear-gradient(top,
	#f2f2f2 0%,
	#e9e9e9 32%,
	#d8d8d8 74%,
	#d1d1d1 100%);
	background-image:-o-linear-gradient(top,
	#f2f2f2 0%,
	#e9e9e9 32%,
	#d8d8d8 74%,
	#d1d1d1 100%);
	background-image:linear-gradient(top,
	#f2f2f2 0%,
	#e9e9e9 32%,
	#d8d8d8 74%,
	#d1d1d1 100%);
	white-space:nowrap;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	vertical-align:middle
}
.actions .action a.hover,
.actions .action a:hover,
.actions .action a.focus,
.actions .action a:focus {
	background-color:#e8e8e8;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFE8E8E8',
	endColorstr='#FFA9A9A9');
	background-image:-webkit-linear-gradient(top,
	#e8e8e8 0%,
	#e3e3e3 13%,
	#d7d7d7 32%,
	#b9b9b9 71%,
	#a9a9a9 100%);
	background-image:-moz-linear-gradient(top,
	#e8e8e8 0%,
	#e3e3e3 13%,
	#d7d7d7 32%,
	#b9b9b9 71%,
	#a9a9a9 100%);
	background-image:-o-linear-gradient(top,
	#e8e8e8 0%,
	#e3e3e3 13%,
	#d7d7d7 32%,
	#b9b9b9 71%,
	#a9a9a9 100%);
	background-image:linear-gradient(top,
	#e8e8e8 0%,
	#e3e3e3 13%,
	#d7d7d7 32%,
	#b9b9b9 71%,
	#a9a9a9 100%);
	-webkit-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	-moz-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25)
}
.actions .action a.active,
.actions .action a:active {
	-webkit-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	-moz-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset
}
.actions .action a.disabled,
.actions .action a[disabled] {
	background-color:#e8e8e8;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFE8E8E8',
	endColorstr='#FFA9A9A9');
	background-image:-webkit-linear-gradient(top,
	#e8e8e8 0%,
	#e3e3e3 13%,
	#d7d7d7 32%,
	#b9b9b9 71%,
	#a9a9a9 100%);
	background-image:-moz-linear-gradient(top,
	#e8e8e8 0%,
	#e3e3e3 13%,
	#d7d7d7 32%,
	#b9b9b9 71%,
	#a9a9a9 100%);
	background-image:-o-linear-gradient(top,
	#e8e8e8 0%,
	#e3e3e3 13%,
	#d7d7d7 32%,
	#b9b9b9 71%,
	#a9a9a9 100%);
	background-image:linear-gradient(top,
	#e8e8e8 0%,
	#e3e3e3 13%,
	#d7d7d7 32%,
	#b9b9b9 71%,
	#a9a9a9 100%);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	cursor:default;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6
}
.actions .action:first-child {
	margin-left:0
}
.actions .action:first-child a {
	font-weight:bold;
	border-width:1px;
	border-style:solid;
	cursor:pointer;
	margin:0;
	overflow:visible;
	text-decoration:none !important;
	text-align:center;
	width:auto;
	text-shadow:0 1px 1px rgba(255,
	255,
	255,
	0.75);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	padding:0 13px;
	height:31px;
	line-height:29px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size:13px;
	color:#333;
	background-color:#f6e312;
	border-color:#e9ac1a;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFF6E312',
	endColorstr='#FFF9C80D');
	background-image:-webkit-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:-moz-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:-o-linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	background-image:linear-gradient(top,
	#f6e312 0%,
	#f9c80d 100%);
	white-space:nowrap;
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:middle;
	*vertical-align:auto;
	zoom:1;
	*display:inline;
	vertical-align:middle
}
.actions .action:first-child a.hover,
.actions .action:first-child a:hover,
.actions .action:first-child a.focus,
.actions .action:first-child a:focus {
	background-color:#eddb11;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFEDDB11',
	endColorstr='#FFF2B21B');
	background-image:-webkit-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-moz-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-o-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	-webkit-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	-moz-box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25);
	box-shadow:0 1px 3px rgba(0,
	0,
	0,
	0.25)
}
.actions .action:first-child a.active,
.actions .action:first-child a:active {
	-webkit-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	-moz-box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset;
	box-shadow:0 1px 2px rgba(0,
	0,
	0,
	0.25) inset
}
.actions .action:first-child a.disabled,
.actions .action:first-child a[disabled] {
	background-color:#eddb11;
	filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,
	startColorstr='#FFEDDB11',
	endColorstr='#FFF2B21B');
	background-image:-webkit-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-moz-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:-o-linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	background-image:linear-gradient(top,
	#eddb11 0%,
	#efcf14 35%,
	#f1bf18 65%,
	#f2b21b 100%);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	cursor:default;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6
}