a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0D47A1;
    text-decoration: none;
}

body {
    font-family: sans-serif;

}

.wrapper {
    padding-top: 220px;
    background: url("../picture/background.jpg") no-repeat;
    background-color: whitesmoke;
    padding-bottom: 30px;
}

.CVcontainer {
    width: 960px;
    background-color: transparent;
    margin: 0 auto;
}

#topcard {
    background-color: rgba(255, 255, 255, 0.95);
    overflow: visible;
}

#avatar {
    width: 240px;
    height: 240px;
}

.fluence-icon {
    width: 90px;
    height: 22px;
    background-image: url("../picture/fluencer.png");
    float: right !important;
    margin-right: 20px;
}



.personInfo a {
    font-size: 13px;
}

.personInfo h1 {
    font-size: 22px;
    margin: 20px 5px 5px 5px;
}

.personInfo h2 {
    font-size: 18px;
    font-weight: 500;
    color: grey;
    margin:5px;
}

.personInfo ul {
    margin: 5px;
    padding: 0px;
}

.personInfo ul li {
    list-style: none;
    display: inline-block;
}

.personInfo ul li:first-child {
    border-right: 1px solid grey;
    padding-right: 5px;
}

.personInfo ul li a {
    color: grey;
}

.tittle {
    color: grey;
}

#experience dt{
    text-align: left;
    width: 80px;
}

#experience dt a:hover {
    color: grey;
}

#experience dd{
    margin-left: 90px;
}

#info {
    padding-left: 30px;
    display: table-cell;
    vertical-align: top;
    zoom: 1;
    width: 10000px;
}

.connect {
    font-size: 13px;
    margin-top: 0px;
    padding-left: 10px;
    float:left;
}

.connect a {
    color: #0D47A1;
    font-weight: 700;
}

.connect a:hover {
    text-decoration: underline;
}

#btnFollow {
    float:left;
}

#dropdown {
    position: absolute;
}

.followers {
    width: 90px;
    height: 22px;
    float: right !important;
    margin-right: 20px;
    text-align: right;
}

.followers h3 {
    font-size: 18px;
    font-weight: bold;
}

.followers h5 {
    margin-top: -10px;
    color: grey;
    font-size: 11px;
}

#contact {
    background: whitesmoke;
    height: 40px;
    border-radius: 0%;
    margin: 0px;
}

#webAddress {
    vertical-align: middle;
    padding: 8px 0px 0px 20px;
}

#webAddress>a {
    color: grey;
    font-size: 11px;
    padding-left: 20px;
}

#webAddress>a:hover {
    color: #0D47A1;
}

#btnContact{
    float: right;
    border-left: 1px solid #ccc;
    border-radius: 0px;
    width: 130px;
    height:40px;
    margin-top: -9px;
    background-color: #ececec;
    font-size: 11px;
}

#btnContact:hover{
    color: #0D47A1;
}

#background {
    margin-top: 20px;
    border-radius: 0px;
}

#background-header {
    width: 130px;
    border: none;
    background-color: #434649;
    color: white;
    border-radius: 0px;

}

#background-header h3 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.background-tittle h3{
    display: inline-block;
    color: #434649;
    font-size: 18px;
}

#background-body {
    padding: 30px;
    color: #434649;
}

.experience-content {
    padding: 30px 0px 30px 0px;
}

.experience-content .logo {
    margin-top: 20px;
    float: right;
}

.experience-content .position {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.experience-content .position:hover {
    color: #0D47A1;
}

.experience-content .company {
    font-size: 16px;
}

.education-content {
    padding: 30px 0px 30px 0px;
}

.education-content .logo {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    float: right;
}

.education-content .school {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.education-content .school:hover {
    color: #0D47A1;
}

.education-content .falcuty {
    font-size: 16px;
}

.btn-skill {
    padding: 5px;
}

.another-skill {
    display: inline;
}

.project-content {
    padding-top: 10px;
}

.project-content .name {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

#btn-edit-person-info {
    display: none;
    padding-left: 10px;
    font-size: 18px;
}

.personInfo:hover #btn-edit-person-info {
    display: inline-block;
}

#btn-edit-summary {
    float:right;
    display: none;
}

.Summary:hover #btn-edit-summary {
    display: block;
}

#btn-edit-experience {
    display: none;
    float:right;
}

.experience-content:hover #btn-edit-experience {
    display: block;
}

#btn-edit-top-skill {
    display: none;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.top-skill:hover #btn-edit-top-skill {
    display: block;
}

#btn-edit-another-skill {
    display: none;
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}

.another-skill:hover #btn-edit-another-skill {
    display: block;
}

#btn-edit-education {
    display: none;
    float:right;
}

.education-content:hover #btn-edit-education {
    display: block;
}

#btn-edit-project {
    display: none;
    float:right;
}

.project-content:hover #btn-edit-project {
    display: block;
}